
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategrey;
    text-align: center;
    min-height: fit-content;
    min-width: fit-content;
    
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game {
    height: 60vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    background-color: rgb(238, 236, 117);
    margin-top: 15vmin;
    margin-bottom: 10vmin;
    font-weight: bolder;
    padding-bottom: 4vmin;
    border-radius: 1rem;
    padding-top: 2vmin;

}

.box {

    height: 17.5vmin;
    width: 17.5vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(73, 247, 38, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#new-btn {
    padding: 1rem;
    font-size: 1.50rem;
    background-color:black;
    color:#ffffc7;
    border-radius: 1rem;
    border: none;
    font-weight: bolder;
    margin-top: 2vmin;
}
#reset-btn {
    padding: 1rem;
    font-size: 1.50rem;
    background-color:black;
    color: #ffffc7;
    border-radius: 1rem;
    border: none;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    font-weight: bolder;
    
  
}

#msg {
    color: #dfdf7d;
    font-size: 10vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
